<div class="container">
  <div class="orden-compra">
    <button (click)="crearOrdenCompra()">Crear orden de Compra</button>
    <p>ID Orden: {{ ordenCompra?.id }}</p>
  </div>

  <section class="products">
    <h2>PRODUCTOS</h2>

    <form class="producto-form">
      <input
        type="text"
        [(ngModel)]="producto.nombre"
        placeholder="Nombre del producto"
        [ngModelOptions]="{ standalone: true }"
      />
      <input
        type="text"
        [(ngModel)]="producto.precio"
        placeholder="Precio"
        [ngModelOptions]="{ standalone: true }"
      />
      <button (click)="guardarProducto()">Guardar producto</button>
    </form>

    <form class="precio">
      <input
        type="text"
        [(ngModel)]="id"
        placeholder="ID del producto"
        [ngModelOptions]="{ standalone: true }"
      />
      <input
        type="text"
        [(ngModel)]="precio"
        placeholder="Nuevo precio"
        [ngModelOptions]="{ standalone: true }"
      />
      <button (click)="actualizarPrecio()">Actualizar precio</button>
    </form>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of productos">
          <td>{{ p.id }}</td>
          <td>{{ p.nombre }}</td>
          <td>{{ p.precio }}</td>
          <td>
            <button (click)="agregarProducto(p)" [disabled]="!ordenCompra">
              Agregar
            </button>
            <button (click)="selecctionarProducto(p)">Editar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <section class="carrito">
    <h3>CARRITO</h3>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Precio</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of carrito">
          <td>{{ p.id }}</td>
          <td>{{ p.nombre }}</td>
          <td>{{ p.precio }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>TOTAL</td>
          <td colspan="2">{{ calcularTotal(carrito) }}</td>
        </tr>
      </tfoot>
    </table>
  </section>

  <div class="guardar-orden-compra">
    <button (click)="actualizarOrdenComrpa()">Guardar Orden de Compra</button>
  </div>
</div>
